<extend name="Base/ucmobile_base" />
<block name="body">
    <style>
        .header {
            text-align: center;
        }
        .header h1 {
            font-size: 200%;
            color: #333;
            margin-top: 30px;
        }
        .header p {
            font-size: 14px;
        }
    </style>
    <div class="header">
        <div class="am-g">
            <h1>{$appinfo.public_name}</h1>
        </div>
        <hr />
    </div>
    <div class="am-g">
        <div class="am-u-lg-6 am-u-md-8 am-u-sm-centered">
            <div class="am-cf">
                <div class="am-fl am-text-danger"><h2>登录</h2></div>
                <div class="am-fr"><h3>没有账号？<a href="{:addons_url ( 'Ucuser://Ucuser/register',array('mp_id'=>$mp_id) )}">注册</a></h3></div>
            </div>
            <hr>
            <br>

            <form action="{:addons_url ( 'Ucuser://Ucuser/login',array('mp_id'=>$mp_id) )}" method="post" class="am-form am-form-horizontal">
                <div class="am-form-group">
                <label for="mobile" class="am-u-sm-3 am-form-label">手机:</label>
                    <div class="am-u-sm-9">
                <input type="text" name="mobile" id="mobile" value="">
                    </div>
                </div>
                <br>
                    <div class="am-form-group">
                    <label for="password" class="am-u-sm-3 am-form-label">密码:</label>
                        <div class="am-u-sm-9">
                <input type="password" name="password" id="password" value="">
                    </div>
                    </div>
                <br>
                <label for="remember-me">
                    <input id="remember-me" name="remember" type="checkbox">
                    记住密码
                </label>
                <br />
                <div class="am-cf">
                    <input type="submit" name="" value="登 录" class="am-btn am-btn-primary am-btn-sm am-fl">
                    <input type="button" href="{:addons_url ( 'Ucuser://Ucuser/forget',array('mp_id'=>$mp_id) )}" name="" value="忘记密码 ^_^? " class="am-btn am-btn-default am-btn-sm am-fr">
                </div>
            </form>
            <hr>
            
        </div>
    </div>
</block><!--body end -->
<block name="script">
    <script type="text/javascript">

    </script>
</block>
